<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Massive Data Project Interface</title>
</head>
<body>
   <h1>Airline Clustering</h1>
   <img src="{{url_for('static', filename='images/airplane.jpg')}}" alt="airplane" class="center"/>
   <form method = "post" action = "/">
        <input type = "submit" name = "submit_button" value = "CURE Analysis" class="button">
        <input type = "submit" name = "submit_button" value = "Deep Learning" class="button">
   </form>
   
</body>
</html>