<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Massive Data Project Interface</title>
</head>
<body>
   <h1>Airline Clustering</h1>
   <img src="{{url_for('static', filename= 'Mini Batch K-Means/elbow_season=Winter.png')}}" alt="elbow plot" class="center"/>
   <img src="{{url_for('static', filename= 'Mini Batch K-Means/pca_season=Winter.png')}}" alt="pca plot" class="center"/> 
   
</body>
</html>